.navbar {
  background: #001f3f;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  position: fixed;
  top: 0;
  width: 100%;

  &__logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: #1888ff;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }
  }

  &__icon {
    display: none;
  }

  .fa-seedling {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }

  .fa-bars {
    color: #fff;
  }

  @media screen and (max-width: 960px) {
    &__menu-item {
      position: relative;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 70px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      &.active {
        background: #001f3f;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    }

    &__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      &:hover {
        background-color: #1888ff;
        border-radius: 0;
      }
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    &__icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  }
}
