.tabs {
  margin: 24px;
  display: flex;
  flex-flow: row wrap;

  &__button {
    background: #cfcfcf;
    flex-grow: 1;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    border-width: 1px;
    font-size: 17px;
    outline: none;

    &:hover {
      cursor: pointer;
      background: #efefef;
    }
    &.active {
      background: white;
    }
  }

  &__content {
    border: 1px solid;
    margin-top: 20px;
    padding: 20px;
    display: none;
    &.visible {
      display: inline-block;
    }
    a:link {
      text-decoration: none;
      color: inherit;
    }
  }
}
